<p id="notice"><%= notice %></p>

<h1>Listing Adressses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>City</th>
      <th>Street</th>
      <th>Neighborhood</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adressses.each do |adresss| %>
      <tr>
        <td><%= adresss.user %></td>
        <td><%= adresss.city %></td>
        <td><%= adresss.street %></td>
        <td><%= adresss.neighborhood %></td>
        <td><%= adresss.number %></td>
        <td><%= link_to 'Show', adresss %></td>
        <td><%= link_to 'Edit', edit_adresss_path(adresss) %></td>
        <td><%= link_to 'Destroy', adresss, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adresss', new_adresss_path %>
