<h1 class="page-header">Cidades</h1>
<% if @city.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
            <% @city.errors.full_messages.each do |message| %>
                <li>
                    <%= message %>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>
<div class="panel panel-default">
    <div class="panel-heading">
        <%= name %>
    </div>
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @city]) do |f| %>
            <div class="form-group">
                <label>Descrição</label>
                    <%= f.text_field :description, class: "form-control", placeholder: "Ex.: Erechim"%>
            </div>
            <div class="form-group">
                <label>CEP (Somente números)</label>
                    <%= f.text_field :cep, class: "form-control", placeholder: "Ex.: 99740000", maxlength: "8"%>
            </div>
            <div class="form-group">
                <label>Estado</label>
                <%= collection_select(:city, :state_id, State.all, :id, :description, {}, {:class=>'form-control'})%>
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <% end %>
        </div>
    </div>
</div>
     