<div class="row justify-content-md-center" style="margin-bottom: 100px;" >
    <div class="col-4 text-center">
        <div class="card mt-4">
            <%= image_tag @product.image.url(:medium) , class: "card-img-top"%>
            <div class="card-footer">
                <h3 class="card-title"><strong><%= @product.name %></strong></h3>
                <h5>Valor: <%= number_to_currency(@product.price) %></h5>
                <p class="card-text"><%= @product.description %></p>
            </div>
            <div class="card-footer">
                <%= form_for([:site, :profile, Order.new]) do |f| %>
                    <%= f.hidden_field :product_id, :value => @product.id %>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Quantidade:</label>
                            <%= select("order", "quantity", quantity_for_collection, { include_blank: true }, class: 'form-control' ) %>
                        </div>
                        <div class="col-md-8">
                            <label>Entregar em:</label>
                            <%= collection_select(:order, :address_id, current_user.address, :id, :street, {}, {:class=>'form-control'})%>
                        </div>
                        <div class="col-md-12" style="margin-top:25px;">
                            <%= submit_tag "Fazer Pedido", class: "btn btn-success btn-block"  %>
                        </div>                    
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>